// GLOBAL STYLES
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  resize: none;
  box-sizing: border-box;
  outline: none;
  color: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
}

body {
  font-family: Helvetica;
  color: #767676;
}
